.company-info {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-top-banner {
  width: 100%;
  height: 40vh;
  background-image: url(/src/Assets/images/company-info-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  color: white;
}
.company-top-edit-btn {
  width: 35px;
  height: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ffc412;
  position: absolute;
  top: 15px;
  right: 15px;
}
.company-top-edit-btn > img {
  width: 20px;
}
.company-top-banner > img {
  width: 140px;
  height: 140px;
  margin-bottom: -70px !important;
  border-radius: 50%;
  border: 2px solid #ffc412;
  margin-bottom: 10px;
}
.company-info-body {
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-info-body > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-info-sep {
  width: 90%;
  background-color: #35353573;
  height: 1px;
  margin: 25px 0;
}
.company-info-first {
  font-size: 24px;
  font-weight: 700;
}
.company-info-second {
  flex-direction: row !important;
  justify-content: space-around;
}
.company-info-second > div {
  width: 250px;
  height: 170px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.company-info-second > div img {
  width: 26%;
}
.company-info-second > div span {
  font-size: 14px;
  font-weight: 700;
}
.company-info-third > div {
  width: 60%;
  min-width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: #353535;
  color: #ffc412;
}
.company-info-third > div:hover {
  outline: 2px solid #ffc412;
  cursor: pointer;
}
.company-info-third > div > img {
  width: 10px;
  position: absolute;
  left: 15px;
}
@media only screen and (max-width: 1000px) {
  .company-info {
    padding-bottom: 70px;
  }
  .company-info-second{
    flex-wrap: wrap;
  }
  .company-info-second>div{
    width: 250px;
    height: 150px;
    margin: 5px 10px;
  }
  .company-info-second > div img {
    width: 20%;
  }
  .company-info-second > div span {
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
    word-wrap: break-word;
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  .company-top-banner {
    background-size: contain;
  }
}
@media only screen and (max-width: 600px) {
  .company-top-edit-btn {
    width: 30px;
    height: 27px;
    top: 15px;
    right: 15px;
  }
  .company-top-edit-btn > img {
    width: 20px;
  }
  .company-top-banner > img {
    margin-bottom: -20px !important;
  }
.company-info-first {
  margin-top: -50px !important;
}
}