.company-news {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding-top: 11vh;
  flex-direction: column;
  align-items: center;
}
.company-news-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
}
.company-submit-btn {
  width: 130px !important;
  height: 40px !important;
  background-color: #ffc412 !important ;
  color: #353535 !important;
  border-radius: 4px !important;
}
.company-submit-btn:hover,
.company-submit-btn:focus {
  background-color: #353535 !important;
  color: #ffc412 !important;
}
.company-news-items {
  width: 100%;
  margin-top: 20px;
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
.company-news-items > div {
  width: 25%;
  min-width: 300px;
  overflow: auto;
  height: 250px;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.356);
}
.company-news-items > div>div {
    padding: 5px 10px;
}
.company-news-items > div > img {
  width: 100%;
  height: 35% !important;
  border-radius: 4px 4px 0 0;
  scrollbar-width: none !important;
}
.company-news-items > div::-webkit-scrollbar {
  display: none !important;
}
.company-news-items > div button {
  background-color: #ffc412;
  color: #353535;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0;
}
.company-news-items > div button:focus,
.company-news-items > div button:hover {
  background-color: #ffc412;
}
.company-news-items > div button > img {
  width: 100% !important;
}
.company-news-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-news-modal > input,
.company-news-modal > textarea {
  border-radius: 4px;
  padding: 7px 10px;
  margin-bottom: 20px;
}
.company-news-modal > textarea {
  min-height: 100px !important;
}
.company-news-default-upload {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  border-radius: 4px;
}
.company-news-default-uploaded {
  width: 100%;
  height: 100px;
  border: 1px solid gray;
  border-radius: 4px;
}
