.draft {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.draft-body {
  width: 100%;
  min-height:70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
